<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
        <title>Task Manager</title>
    </head>
    <body>
        <h5 class="tmheading center"><i class="material-icons" style="font-size: 36px;">check_circle_outline</i>&nbsp;<strong>TASK MANAGER</strong></h5>
        <div class="container">
            {% block content %} {% endblock %}
        </div>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red">
                <i class="large material-icons">more_vert</i>
            </a>
            <ul>
                <li><a class="btn-floating green darken-1 tooltipped" href="{{ url_for('get_categories') }}"  data-position="left" data-tooltip="View Categories"><i class="material-icons">subject</i></a></li>
                <li><a class="btn-floating amber darken-1 tooltipped" href="{{ url_for('get_tasks') }}"  data-position="left" data-tooltip="View Tasks"><i class="material-icons">assignment</i></a></li>
                <li><a class="btn-floating purple tooltipped" href="{{url_for('add_category')}}" data-position="left" data-tooltip="Add a new category"><i class="material-icons">playlist_add</i></a></li>
                <li><a class="btn-floating blue tooltipped"  href="{{ url_for('add_task') }}" data-position="left" data-tooltip="Add a new task"><i class="material-icons">add</i></a></li>
            </ul>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.collapsible').collapsible();
                $('select').material_select();
            });


            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false // Close upon selecting a date,
            });
        </script>
    </body>
</html>
