{% extends 'base.html' %}
{% block content %}
    <ul class="collapsible" data-collapsible="accordion">
        {% for task in tasks %}
        <li>
            <div class="collapsible-header">
                <div class= "col s3">
                    <i class="material-icons">expand_more</i>
                    <a class="waves-effect waves-light btn btn-small"><i class="material-icons left">done</i>Done</a>
                    <a class="waves-effect waves-light btn btn-small blue"><i class="material-icons left">edit</i>Edit</a>
                </div>
                <div class=" task_header col s9">
                    <strong>{{task.task_name}}</strong> - {{task.due_date}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    <em>{{task.task_description}}</em>
                </span>
                <hr/>
                <div><strong>Category:</strong> {{task.category_name}}</div> 
                <div><strong>Urgent:</strong> {{task.is_urgent}}</div>                
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
